
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.idea/
/toProd.sh
/str.sql
/templates/emails_customized/change_email_request.html.twig
/templates/emails_customized/changing_email_information.html.twig
/templates/emails_customized/completed_scan_notification.html.twig
/templates/emails_customized/mail_footer.html.twig
/templates/emails_customized/new_letters_notification.html.twig
/templates/emails_customized/pass_reset__request.html.twig
/templates/emails_customized/pass_reset_for_new_user.html.twig
/notification_sender.txt
