{% extends 'base.html.twig' %}

{% block title %}Edit Organization{% endblock %}

{% block body %}
    <h1>Edit Organization</h1>

    {{ include('organization_admin/_form.html.twig', {'button_label': 'Save'|trans}) }}

    <a href="{{ path('organization_admin_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('organization_admin/_delete_form.html.twig') }}
{% endblock %}
