{% extends 'base.html.twig' %}

{% block title %}{{ "New Organization"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "New Organization"|trans }}</h1>

    {{ include('organization_admin/_form.html.twig') }}

    <a href="{{ path('organization_admin_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
